<h1 class="animated fast fadeIn">Sobre Comic App!!</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Impedit et eaque illum debitis quaerat dignissimos inventore expedita accusamus optio,
    porro nihil fuga nam. Fugiat maxime debitis excepturi adipisci a eligendi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Impedit et eaque illum debitis quaerat dignissimos inventore expedita accusamus optio,
    porro nihil fuga nam. Fugiat maxime debitis excepturi adipisci a eligendi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Impedit et eaque illum debitis quaerat dignissimos inventore expedita accusamus optio,
    porro nihil fuga nam. Fugiat maxime debitis excepturi adipisci a eligendi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Impedit et eaque illum debitis quaerat dignissimos inventore expedita accusamus optio,
    porro nihil fuga nam. Fugiat maxime debitis excepturi adipisci a eligendi.
</p>
